
{%extends 'layout.html'%}
{%block content%}
    <!-- inner banner -->
    
    <!-- //inner banner -->

    <!-- aboutblock1 section -->
    <section class="w3l-homeblock1 py-5" id="about">
        <div class="container py-md-5 py-4">
            <div class="row align-items-center">
                <div class="col-lg-6 pe-xl-5">
                    <h3 class="title-style mb-3">Welcome to <span>Shelter</span></h3>
                    <p>Counselling is a way of helping people to solve their own emotional, social, personal or interpersonal problems. Counselling is not giving advice, or solving your problems on behalf of you. In counselling counsellor guides you to look at problems with objective way. He shows different dimension to understand the situation. He helps you to know your strengths and weaknesses without being judgemental. Counselling involves the exploration problems in an environment that is both supportive and objective. It also involves the identification of alternative courses of action that might solve a problem. Counsellor suggests strategies for managing and altering patterns of upsetting thoughts, feelings and behaviour. </p>
                    <div class="mt-4">
                        <ul class="service-list">
                            <li class="service-link"><a href="#url"><i class="fas fa-check-circle"></i>Exceptional
                                    Service</a></li>
                            <li class="service-link"><a href="#url"><i class="fas fa-check-circle"></i>Soft & Gentle</a>
                            </li>
                        </ul>
                    </div>
                    <!-- <a href="/about" class="btn btn-style mt-4">Discover More</a> -->
                </div>
                <div class="col-lg-6 homeaboutblock mt-lg-0 mt-5">
                    <img src="../static/images/a2.jpg" class="img-fluid radius-image" alt="image">
                </div>
            </div>
        </div>
    </section>
   


  
    {%endblock%}
   