{% extends 't_layout.html' %}
{% block content %}
<div class="w3l-homeblock2 py-5">
    <div class="container py-md-5 py-4">
        <h3 class="title-style text-center mb-5"> <span>Profile</span> </h3>
        <div class="row" style="margin-left: 350px;">
            <div class="col-lg-6">
                <div class="bg-clr-white hover-box">
                    <div class="row align-items-center" style="margin-left: 100px;">
                        
                        <div class="col-sm-4" style="margin-left: 30px;width:500px; ">
                            <div class="card-body blog-details align-self pl-sm-0">
                                <a href="#blog" class="blog-desc">{{d.name}}
                                </a>
                                <h2>
                                <p>Address: {{d.address}}</p>
                                <p>Email: {{d.username}}</p>
                                <p>Contact: {{d.contact}}</p>
                               
                            </h2>
                                <div class="d-flex align-items-center justify-content-between mt-lg-4 mt-5">
                                    <a href="/t_profile_update/{{d.id}}" class="theme-button btn-outline-primary btn mt-lg-5 mt-4">Update Profile</a>
                                    <!-- <a href="#blog" class="blog-icon-e"><i class="fas fa-plus"></i></a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
</div>
{% endblock  %}